body {
   color: yellow;
   background-color: blue;
}

h1 {
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
}

p {
  font-family: cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}
