body {
  background-color: blue
}

h1 {
  color: yellow
  font-size: x-large;
  font-family: fantasy;
}

h2 {
  color: yellow
  font-size: large;
  font-family: fantasy;
}

p {
  color: yellow
  font-size: medium;
  font-family: fantasy;
}
